table, td{
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    background-color: aliceblue;
}

#table1 td {
    text-align: center;
    height: 30px;
    width: 200px;
}

#table2 td, #table3 td {
    text-align: center;
}


#table1 caption, #table2 caption, #table3 caption {
    width: 656px;
    height: 30px;
    text-align: center;
    background-color: #cfe7e5;
    line-height: 30px;
}

div#wapper {
    position: absolute;
    left: 50%;
    margin-left: -314px;
}

input.hidden {
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
}
